.App {
  text-align: center;
}
.Header {
  color:rgb(235, 8, 8);
  text-shadow: 1px 1px 5p rgb(151, 109, 116);
}
.center {
  width: 100%;
  margin: 0 auto;
}
.card {
  background: pink;
  width: 70%;
}
.card img.card-img-top {
  width: 100%
};
/* write your parent styles in here for your App.js */
